body
{
	font-family: Verdana, Arial, Sans-serif;
	margin: 0px;
}

checkbox, input, radio, select, textarea, file, button
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}
select
{
	margin: 4px 0px;
	padding: 1px;
	height: auto;
}

form
{
	display: inline;
}

h4
{
	margin: 0px 0px 5px 0px;
}

label
{
	font-size: 12px;
}

#topnav
{
	color: #FFFDD0;
	font-size: 14px;
	width:100%;
	height:20px;
	background-color:#333333;
	margin-top:-10px;
}
#topnav a
{
	color: #FFFDD0;
	padding-left:5px;
	text-decoration: none;
}

.editBox
{
	width:400px;
	background-color:#D2D2D2;
	padding:10px;
	border: 1px solid black;
	margin:5px;
	float:left;
	clear:left;
}
.editTable
{
	width:100%;
}
.editTable th
{
	text-align:left;
}
.editTable td
{
	text-align:right;
}

.imageBox
{
	float: left;
	height: 215px;
	width: 200px;
	padding: 0px 15px 15px 15px;
	margin: 10px;
	background-color: #D2D2D2;
	border: 1px solid black;
}
.imageBox img
{
	height:200px;
	width:200px;
}

/* Message Stack */
.messageStack
{
	width="100%";
	font-size: 12px;
	color: #000000;
	padding: 5px;
}
.messageStack img
{
	display:block;
	float:left;
	margin-right:5px;
}
.Error
{
	background-color: #FF3333;
}
.Success
{
	background-color: #33FF33;
}


/* Data Tables */
	/* Headings */
		.dataTableHeadingRow
		{
			color: #666666;
			background-color: #FFFFFF;
			padding: 16px 5px; text-align: left;
			background: #F5F6F9;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFCFD', endColorstr='#EDEFF5'); /* for IE */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfcfd), color-stop(100%,#edeff5)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #fbfcfd 0%,#edeff5 100%); /* Chrome10+,Safari5.1+ */
			background: -moz-linear-gradient(center top , #FBFCFD 0%, #EDEFF5 100%) repeat scroll 0 0 transparent; /* for firefox */
			text-align: center;
		}
		.dataTableHeadingRow td
		{
			background: #F5F6F9;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFCFD', endColorstr='#EDEFF5'); /* for IE */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfcfd), color-stop(100%,#edeff5)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #fbfcfd 0%,#edeff5 100%); /* Chrome10+,Safari5.1+ */
			background: -moz-linear-gradient(center top , #FBFCFD 0%, #EDEFF5 100%) repeat scroll 0 0 transparent; /* for firefox */}
		}
		.dataTableHeadingContent
		{
			font-weight: bold;
			font-size: 15px;
			color: #666666;
			border-right:1px solid #DDDDDD;
			border-bottom:1px solid #DDDDDD;
			padding:5px;
			margin:1px;
		}
	/* Content */
		.dataTableRow
		{
			background-color: #FFFFFF;
		}
		.dataTableContent
		{
			font-size: 12px;
			color: #222222;
			padding:5px;
			border-bottom:1px solid #DDDDDD;
			text-align:center;
		}
		.dataTableContent a:hover { text-decoration: none; }