.photoslider {
	margin-bottom:180px;
}

.photoslider_nav {
	position: relative;
	overflow:hidden;
	height: 120px;
	width: 100%;
	margin: auto;
}

.photoslider_thumbBar {
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	margin: 0px;
	margin-left:0px;
	padding: 0px;
}

.photoslider_thumb {
	position: relative;
	width: 50px;
	height: 50px;
	float: left;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
}

.photoslider_thumb img
{	
	width:50px;
}

.photoslider_clear {
	clear: both;
}

.photoslider_main  {
	height: 520px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	margin-top: 0px;
	margin-bottom: 0px;
}

.photoslider_main img {
	text-align:center;
	position: relative;
	display: block;
	margin: auto;
	max-height:520px;
	max-width:780px;
}

.photoslider_caption {
	margin-top:35px;
	margin-bottom:5px;
	font-weight: bold;
	text-align: center;
	font-family: Verdana, Arial, Sans-Serif;
	font-size:14px;
}

.photoslider_control {
	display: none;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	margin: auto;
	height: 30px;
	width: 780px;
}
.photoslider_gallery_name, .photoslider_gallery_date
{
	max-width:360px;
	font-family: Verdana, Arial, Sans-Serif;
	font-size:14px;
	line-height:20px;
}
.photoslider_gallery_name
{
	float:left;
}
.photoslider_gallery_date
{
	float:right;
}

.photoslider_play, .photoslider_stop {
	width: 18px;
	height: 19px;
	margin: auto;
	padding: 3px;
	cursor: pointer;
	text-align: center;
	border: solid #fff 1px;
	float: left;
}

.photoslider_play {
	background: url('../images/play_pause.gif') no-repeat 0px 0px;
}

.photoslider_stop {
	background: url('../images/play_pause.gif') no-repeat -21px 0px;
}

.photoslider_playstop
{
	float:none;
	margin-left:365px;
}

.slideshow_disabled {
	border-bottom: solid #919191 2px;
}