/*
	This file is part of CLPPhotoSite.

	CLPPhotoSite is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	CLPPhotoSite is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with CLPPhotoSite.  If not, see <http://www.gnu.org/licenses/>.
*/ 

@font-face
{
	font-family: "JandaAsLongAsYouLoveMe";
	src: url(JandaAsLongAsYouLoveMe.ttf) format("truetype");
}
a
{
	text-decoration: none;
	color: #000000;
}
a[href^="mailto:"]
{
	text-decoration:underline;
	color: #0000FF;
}
.nav
{
	float:left;
	clear:left;
	font-family: "JandaAsLongAsYouLoveMe", Verdana, Arial;
	font-size: 20px;
	line-height: 40px;
	color: black;
	padding: 10px 0px;
	font-weight: bold;
	margin-right:5px;
}
#main
{
	width:1024px;
	margin: 0 auto;
}
#sub-nav, #login
{
	position:absolute;
	top:0px;
	left:170px;
	width:150px;
	background:#FF78F1;
	border: 2px solid #DD56CE;
	visibility: hidden;
	padding: 10px;
	text-align: center;
	z-index: 10000;
}
#sub-nav a:hover
{
	text-decoration: underline;
}

#watermark
{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	visibility:hidden;
	z-index:100000;
}
@media print
{
	#watermark
	{
		visibility:visible;
	}
}

.photoslider
{
	width:780px;
	height:520px;
	background: url('../images/black-canvas.jpg');
	background-size: 780px 520px;
	float:left;
	margin-left:15px;
	margin-top:12px;
	-webkit-box-shadow:
		0px 0px 0px 4px #333,
		0px 0px 0px 14px #fff,
		0px 0px 0px 18px rgba(0,0,0,0.2),
		6px 6px 8px 17px #555;
   
	-moz-box-shadow:
		0px 0px 0px 4px #333,
		0px 0px 0px 14px #fff,
		0px 0px 0px 18px rgba(0,0,0,0.2),
		6px 6px 8px 17px #555;
   
	box-shadow:
		0px 0px 0px 8px #333,
		0px 0px 0px 18px #fff,
		0px 0px 0px 22px rgba(0,0,0,0.2),
		6px 6px 8px 21px #555;
}